<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mikirinkode.pikul">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pikul"
        tools:targetApi="31">
        <activity
            android:name=".feature.order.OrderSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".feature.owner.OwnerMainActivity"
            android:exported="false" />
        <activity
            android:name=".utils.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".feature.merchant.MerchantMainActivity"
            android:exported="false" />
        <activity
            android:name=".feature.startbusiness.StartBusinessActivity"
            android:exported="false" />
        <activity
            android:name=".feature.detail.DetailBusinessActivity"
            android:exported="false" />
        <activity
            android:name=".feature.profile.OtherUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".feature.chat.room.ChatRoomActivity"
            android:exported="false" />
        <activity
            android:name=".feature.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".feature.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".feature.customer.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.auth.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".feature.auth.login.LoginActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCURYMLBai6v9N8W4ECRo7cJ6GX3ZCarns" />
    </application>

</manifest>